<h2>Update Password</h2>
<%= error_messages_for(@user) %>
<div class=”users edit”>
<%= bootstrap_form_for@user do |f| %>
	<table summary="User form fields">
	<tr>
	<th>New Password</th>
	<td><%= f.password_field(:password) %></td>
    </tr>
	<th>Confirm New Password</th>
	<td><%= f.password_field(:password_confirmation) %></td>
    </tr>
	</table>
	<button type="submit" class="btn btn-primary">
	Update Password
	</button>
<% end %>
</div>